<% layout('layout') %>
<% script('/socket.io/socket.io.js') %>
<% script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') %>
<% stylesheet('/modules/content/tpl/css/foundation.css') %>
<% stylesheet('/modules/content/tpl/css/app.css') %>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<section class="meat">  
  <div class="row">
    <div class="twelve columns">      
      <h1>Demos!</h1>
      <a href="/examples/rover"><h3>Rover Demo</h3></a>
    </div>
  </div>
</section>