<!DOCTYPE html>
<html>
  <head>
    <title>Rover - <%=title%></title>
    <%-scripts%>
    <%-stylesheets%>
  </head>


  <body>
  <!-- Nav / Header -->
    <nav class="top-bar">
      <ul>
      </ul>

      <section>
        <ul class="left">   

      </section>
    </nav>

    <%-body -%>
    
    <section id="foot">
      <footer class="row">
        <section class="four columns">
        </section>

        <section class="four columns">
        </section>

        <section class="four columns">
        </section>
      </footer>


      <div id="newsletter">
        <div class="row">
        </div> <!-- / .row -->
      </div> <!-- / #newsletter -->

      <div id="copyright">
        <div class="row">
          <div class="four columns">
          </div>

          <div class="eight columns">
            <ul class="inline-list right">
            </ul>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / #copyright -->
    </section>

  </body>
</html>
  