<% layout('../layout') %>
<% script('/socket.io/socket.io.js') %>
<% stylesheet('/stylesheets/lib/foundation.css') %>

<script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
<script src="/javascripts/rover.js"></script>

<script type="text/javascript">
</script>

<section class="meat">  
  <div class="row">
    <div class="twelve columns">      
      <h1>Rover Demo</h1>
    </div>
    <div class="six columns">
      <table>
        <tbody>
          <tr>
            <td><button id="left">⇖</button></td>
            <td><button id="forward">⇑</button></td>
            <td><button id="right">⇗</button></td>
          </tr>
          <tr>
            <td><button id="sharpleft">⇐</button></td>
            <td><button id="circle">&#x27f3;</button></td>
            <td><button id="sharpright">⇒</button></td>
          </tr>
          <tr>
            <td><button id="backleft">⇙</button></td>
            <td><button id="backward">⇓</button></td>
            <td><button id="backright">⇘</button></td>
          </tr>
          <tr>
            <td></td>
            <td><button id="stop">STOP</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="six columns">
      <div id="currentPower">-</div>
      <table>
        <tbody>
          <tr>
            <td>
              <button id="power100">100</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="power80">80</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="power60">60</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="power40">40</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="power30">30</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="power20">20</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>