<% layout('../layout') %>
<% script('/socket.io/socket.io.js') %>
<% stylesheet('/stylesheets/lib/foundation.css') %>

<script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
<script src="/javascripts/lib/underscore-min.js"></script>
<script src="/javascripts/lib/backbone-min.js"></script>
<script src="/javascripts/wasd.js"></script>

<script type="text/javascript">
</script>

<section class="meat">  
  <div class="row">
    <div class="twelve columns">      
      <h1>WASD Demo</h1>
      <p>Drive with WASD</p>
    </div>
  </div>
</section>